#calculator {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    width: 500px;
    height: 600px;
    border-radius: 5%;
    background-color: rgb(48,48,48);
  }
  
  #inputDisplay {
    display: flex;
    width: 450px;
    height: 50px;
    background-color: white;
    border-radius: 20% 20% 0 0;
    margin-top: 25px;
    align-items: end;
    justify-content: end;
    font-size: 35px;
    font-family: Verdana, Tahoma, sans-serif;
  }
  #lower-display {
    display: flex;
    width: 450px;
    height: 70px;
    margin-bottom: 20px;
    background-color: white;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    font-size: 35px;
    border-bottom: 15px solid rgb(48,48,48);
    font-family: Verdana, Tahoma, sans-serif;
  }

  
  #allclearcleardeletecontainer, #seveneightninedividecontainer, #fourfivesixmultiplycontainer, #onetwothreesubtractcontainer, #zerodecimalequalspluscontainer {
    display: flex;
    flex: 1;
    width: 450px;
    height: 78px;
  }
  
  .clearBtn {
      width: 140px;
      height: 78px;
      background-color: salmon;
      font-size: 30px;
      font-family: Verdana, Tahoma, sans-serif;
  }
  
  .del-button {
      width: 140px;
      height: 78px; 
      background-color: khaki;  
      font-size: 30px;
      font-family: Verdana, Tahoma, sans-serif;
  }
  
  .equals-button {
      width: 170px;
      height: 78px;
      background-color: lightgreen;
      font-size: 30px;
      font-family: Verdana, Tahoma, sans-serif;
  }
  .buttons {
      width: 112.5px;
      height: 84px;
      flex: 1;
      margin-top: -3px;
      font-size: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: white;
  }


  

